*:focus {
  outline: none;
}

.main-header {
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: center;
}

.fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-bottom: 3rem;
  border: 1px solid $color2;
  border-radius: 3px;
  box-shadow: 0 .5rem 1rem rgba($color-black, 0.20);
  flex: 1;
  &__name {
    position: absolute;
    top: -1.5rem;
    left: 1rem;
    display: block;
    padding: .5rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-pure-white;
    background: $color1;
    border-radius: 3px;
    box-shadow: 0 .25rem .75rem rgba($color-black, 0.20);
  }
}

.draft-constructor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  &>* {
    flex: 1;
    margin: .5rem;
  }
}

.input-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data__sides {
  display: flex;
}

.data__seller {
  margin-right: 1rem;
}

.draft {
  &__legend {
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
  }
  &__positions {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 10rem;
    text-align: right;
    font-weight: 700;
    border: 1px solid $color2;
  }
  &__item-delete {
    text-align: center;
    font-weight: 700;
  }
}