//////////////////////////////////////
////////   Buttons
/////////////////////////////////////
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  color: $color-white;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: $color1;
  transition: background-color 150ms ease-in-out, transform 150ms ease-in-out,
    color 150ms ease-in-out, box-shadow 150ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 0.5rem 0.75rem rgba($color-black, 0.2);
  backface-visibility: hidden;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($color1, 7%);
  }
  &:active {
    transform: translateY(2px);
    box-shadow: 0 0.25rem 0.5rem rgba($color-black, 0.2);
  }
  &--print-inv,
  &--gen-inv {
    display: block;
    width: 80%;
    margin: 0 auto 1rem;
    background-color: $color4;
    letter-spacing: 3px;
    padding: 1.5rem 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    @include respond(tablet) {
      width: 40%;
      padding: 1rem 2rem;
    }
    &:hover,
    &:active,
    &:focus {
      background-color: darken($color4, 7%);
    }
    &:active {
      transform: translateY(2px);
    }
    &[disabled] {
      background-color: lighten($color4, 25%);
    }
  }
  &--choose {
    display: block;
    width: 100%;
    margin: 0.5rem;
    order: 1;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    @include respond(tablet-land) {
      width: auto;
      height: 3rem;
      order: 0;
    }
    &:active {
      transform: translateY(2px);
    }
  }

  &--add-item {
    width: 100%;
    padding: 1rem 2rem;
    margin: 0 auto;
    background-color: $color4;
    @include respond(tablet) {
      padding: 1.5rem 2rem;
    }
    &[disabled] {
      background-color: lighten($color4, 25%);
    }
    &:hover,
    &:active,
    &:focus {
      background-color: darken($color4, 7%);
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &--item-del {
    padding: 0.5rem 1rem;
    margin: 0 auto;
    font-size: 1rem;
    background-color: $color4;
    &:hover,
    &:active,
    &:focus {
      background-color: darken($color4, 7%);
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &--form {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    background-color: $color4;
    &:hover,
    &:active,
    &:focus {
      background-color: darken($color4, 7%);
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &--close {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: $color5;
    &:hover,
    &:active,
    &:focus {
      background-color: darken($color5, 7%);
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &--load-item {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1.25rem;
    background-color: $color1;
    &:hover,
    &:active,
    &:focus {
      background-color: darken($color1, 7%);
    }
    &:active {
      transform: translateY(2px);
    }
  }
} // inputs
.select,
.input {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border: none;
  border-radius: 3px;
  border-bottom: 1px solid $color-border;
  background-color: $color-inputs-bg;
  transition: all 150ms ease-out;
  flex: 1.5;
  &:focus {
    border-bottom: 1px solid $color1;
    box-shadow: 0 0.2rem 0.25rem rgba($color1, 0.75);
  }
}

.label {
  font-size: 1.5rem;
  flex: 1;
} // table
th,
td {
  padding: 0.5rem;
  border: 1px solid $color2;
}

.invalid {
  border-bottom: 1px solid $color4;
  background-color: rgba($color4, 0.055);
  box-shadow: 0 0.2rem 0.25rem rgba($color4, 0.75);
}

.generate-inv-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  @include respond(tablet) {
    flex-direction: row;
  }
}

.not-completed-form-modal {
  display: none;
  position: fixed;
  width: 75%;
  min-height: 200px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 2rem 3rem;
  border-radius: 20px;
  border: 1px solid #d4d4d4;
  font-weight: 700;
  font-size: 1.75rem;
  text-align: center;
  box-shadow: 0 4rem 14rem rgba(0, 0, 0, 0.95);
  opacity: 0.25;
  transition: all 250ms cubic-bezier(0.42, 0, 0.69, 1.15);
  z-index: 10;
  @include respond(tablet-land) {
    width: 50%;
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.completion-modal-active {
  top: 50%;
  opacity: 1;
}
