//////////////////////////////////////
////////   Buttons 
/////////////////////////////////////
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.75rem;
  transition: 150ms;
  &--primary {
    &:hover {}
  }
  &--secondary {
    &:hover {}
  }
  &--circle {
    padding: .5rem 1rem;
    border-radius: 50%;
    &:hover {}
  }
}

// inputs
.input {
  display: inline-block;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  margin: .25rem;
  border-radius: 3px;
  border: none;
  background-color: darken($color-white, 1%);
  border-bottom: 1px solid rgb(212, 212, 212);
  flex: 1;
  transition: all 150ms ease-out;
  &:focus {
    border-bottom: 1px solid $color1;
  }
}

.select {
  display: inline-block;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  margin: .25rem;
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgb(212, 212, 212);
  flex: 1;
  border: none;
  background-color: darken($color-white, 1%);
  border-bottom: 1px solid rgb(212, 212, 212);
  transition: all 150ms ease-out;
  &:focus {
    border-bottom: 1px solid $color1;
  }
}

.label {
  font-size: 1.25rem;
  flex: 1;
}