// Fonts
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Fira+Sans:400,700|PT+Serif:400,700&subset=latin-ext');
$font-primary:'Fira Sans',
sans-serif;
$font-secondary:'Dosis',
sans-serif;
$font-serif: 'PT Serif',
serif;
// Font size
// 
html {
    font-size: 62.5%;
}

// Font Family
body {
    font-family: $font-primary;
    line-height: 1.25;
    color: $color-text;
}

// Section Headings