//////////////////////////////////////
////////  Wrapper
/////////////////////////////////////
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
}

//////////////////////////////////////
////////  Margin Auto Center
/////////////////////////////////////
.m-auto {
  margin: 0 auto;
}

//////////////////////////////////////
////////  Widths
/////////////////////////////////////
.w {
  display: inline-block;
  &50 {
    width: 50%;
  }
  &66 {
    width: 66.666666%;
  }
  &75 {
    width: 75%;
  }
}