//////////////////////////////////////
////////  Colors
/////////////////////////////////////
$color-primary: #F43E50;
$color-secondary: #F7F7F7;
$color-white: #fdfdfd;
//////////////////////////////////////
//////// Gradients 
/////////////////////////////////////
$darker: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
//////////////////////////////////////
////////  Text Colors
/////////////////////////////////////
$text-dark: #282828;
$text-gray: #777777;
$text-white: #fdfdfd;