//////////////////////////////////////
////////  Colors
/////////////////////////////////////
$color5: rgba(86, 86, 86, 1);
$color4: rgb(236, 62, 106);
$color2: rgb(212, 212, 212);
$color3: rgb(231, 231, 231);
$color1: rgb(55, 143, 155);

//////////////////////////////////////
////////  utilities colors
/////////////////////////////////////
$color-border: $color2;
$color-inputs-bg: #f8f8f8;
$color-black: #000000;
//////////////////////////////////////
////////  Text Colors
/////////////////////////////////////
$color-text: $color5;
$color-white: #fdfdfd;
$color-pure-white: #ffffff;
